body {
  font-family: sans-serif;
}

.wave {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 60px;
}

.wave .shape-fill {
  fill: #24282c;
}
